<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.snapshare.web.mapper.BookmarkMapperInterface">

	<!-- 북마크 조회 쿼리 메소드 -->
	<select id="getBookmark" resultType="BookmarkVo">
		select bookmark_id, 
			member_id, 
			board_id 
		from bookmark
		where bookmark_id = #{bookmarkId}
	</select>
	
	<!-- 북마크 목록 조회 쿼리 메소드 -->
	<select id="listBookmark" resultType="BookmarkVo">
		select bookmark_id,
			member_id,
			board_id
		from bookmark
		order by bookmark_id desc					
	</select>
	
	<!-- 북마크 등록 메소드 -->
	<insert id="createBookmark" parameterType="BookmarkVo">
		insert into bookmark(
			member_id, 
			board_id)
		values (
			#{memberId}, 
			#{boardId})
	</insert>		
		
	<!-- 북마크 등록 메소드 (selectKey 사용) -->
	<insert id="createBookmarkSelectKey" parameterType="BookmarkVo">
		<!-- selectKey를 사용하여 시퀀스 값 가져오기 -->
		<selectKey keyProperty="bookmarkId" resultType="int" order="BEFORE">
			select seq_board_id_seq.nextval from dual
		</selectKey>
		insert into bookmark(
			bookmark_id,
			member_id, 
			board_id)
		values (
			#{bookmarkId},
			#{memberId}, 
			#{boardId})
	</insert>
	
	<!-- 북마크 수정 메소드 -->
	<update id="updateBookmark" parameterType="BookmarkVo">
		update bookmark
		set member_id = #{memberId},
			board_id = #{boardId}
		where bookmark_id = #{bookmarkId}
	</update>

	<!-- 북마크 삭제 메소드 -->
	<delete id="deleteBookmark" parameterType="int">
		delete from bookmark
		where bookmark_id = #{bookmarkId}
	</delete>
</mapper>	
